.page-header {
  background-color: $page-header-color;
  color: $base-font-color;
  min-height: 80vh;
  padding-bottom: 4em;
  position: relative;
}

.header-logo {
  font-family: $sans-serif;
  font-size: $h3-font-size;
  font-weight: 400;
  line-height: 2;

  @media #{$small} {
    margin-bottom: 7em;
  }
}

.header-subtitle {

  @media #{$small} {
    font-size: $h0-font-size;
    font-weight: 400;
    margin-bottom: 0.25em;
    max-width: 24em;
  }
}

.subtitle-linktodescription {
  background: 0;
  color: $base-font-color;
  display: inline;
  font-family: $base-font-family;
  font-size: 1rem;
  margin: 0 1em;
  outline: none;
  padding: 0;
  vertical-align: baseline;

  &.more::after,
  &.less::before {
    display: inline-block;
    margin: 0 0.125em;
    outline: none;
    text-decoration: none;
    transition: transform 300ms ease-in-out;
  }

  &.more::after {
    content: "→";
  }

  &.less::before {
    content: "←";
  }

  &:hover {
    background-color: transparent;
    color: $base-font-color;
  }

  &.more:hover:after {
    transform: translate(0.5em);
  }

  &.less:hover:before {
    transform: translate(-0.5em);
  }
}

.header-description {
  display: none;
  max-width: 60em;
}

.header-linktogallery {
  font-size: $h4-font-size;
  margin-top: 0.5em;
  position: relative;
  transition: all 200ms ease-in-out;

  &:before {
    @include position(absolute, 0 0 null null);
    border-bottom-color: tint($base-button-color, 20);
    border-left-color: tint($base-button-color, 20);
    border-right-color: $page-header-color;
    border-style: solid;
    border-top-color: $page-header-color;
    border-width: 0.4em;
    box-shadow: -0.025em 0.075em 0.065em rgba(black, 0.065);
    content: "";
    display: block;
    transition: all 200ms ease-in-out;
  }

  &:hover {
    background-color: $base-button-color;

    &:before {
      @include position(absolute, 0 0 null null);
      border-bottom-color: tint($base-button-color, 20);
      border-left-color: tint($base-button-color, 20);
      transform-origin: top right;
      transform: scale(1.25);
      transition:
        border-color 300ms ease,
        transform 300ms ease;
    }
  }
}

.page-header-container {
  @include simple-column;
}

.page-navigation {
  border-radius: 0 0 $base-border-radius $base-border-radius;
  float: right;
  padding: 0.125em 0.5em;
  position: relative;
}

.navigation-list-item-link {
  color: $base-font-color;
  font-size: $h4-font-size;
  text-decoration: none;

  &:hover {
    color: $base-font-color;
    text-decoration: underline;
  }
}
