@keyframes wiggle {
  20% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-15deg);
  }

  60% {
    transform: rotate(8deg);
  }

  80% {
    transform: rotate(-5deg);
  }
}

.page-header {
  background-color: $page-header-color;
  color: $base-font-color;
  min-height: 80vh;
  padding-bottom: 4em;
  position: relative;

  @media #{$small} {
    margin: 1em 1em 0 1em;
    padding: 3em;

    &::before {
      @include position(absolute, 0 0 null null);
      border-bottom-color: tint($page-header-color, 30%);
      border-left-color: tint($page-header-color, 30%);
      border-right-color: $base-background-color;
      border-style: solid;
      border-top-color: $base-background-color;
      border-width: 2.75em;
      box-shadow: -0.025em 0.075em 0.065em rgba(black, 0.1);
      content: "";
      display: block;
    }
  }

  img {
    display: block;
  }
}

.header-image {
  max-width: $row-width / 2;
  margin: 0 auto;
}

.header-logo {
  font-family: $sans-serif;
  font-size: $h0-font-size;
  font-weight: 400;
  text-align: center;
  color: $base-background-color;

  @media #{$small} {
    font-size: $h0-font-size * 1.5;
  }
}

.header-content {
  color: $base-background-color;
  margin: 0 auto;
  max-width: 35em;
  text-align: center;

  a {
    color: $base-background-color;
  }
}

.header-subtitle {
  font-weight: 400;

  @media #{$small} {
    font-size: $h0-font-size;
    margin-bottom: 0.25em;
    max-width: 24em;
  }
}

.subtitle-linktodescription {
  background: 0;
  color: $base-font-color;
  display: inline;
  font-family: $base-font-family;
  font-size: 1rem;
  margin: 0 1em;
  outline: none;
  padding: 0;
  vertical-align: baseline;

  &.more::after,
  &.less::before {
    display: inline-block;
    margin: 0 0.125em;
    outline: none;
    text-decoration: none;
    transition: transform 300ms ease-in-out;
  }

  &.more::after {
    content: "→";
  }

  &.less::before {
    content: "←";
  }

  &:hover {
    background-color: transparent;
    color: $base-font-color;
  }

  &.more:hover:after {
    transform: translate(0.5em);
  }

  &.less:hover:before {
    transform: translate(-0.5em);
  }
}

.header-description {
  display: none;
  max-width: 58em;
}

.header-linktogallery {
  font-size: $h4-font-size;
  margin-top: 0.5em;
  position: relative;
  transition: all 200ms ease-in-out;
  background-color: $base-font-color;

  &:before {
    @include position(absolute, 0 0 null null);
    border-bottom-color: tint($base-font-color, 20);
    border-left-color: tint($base-font-color, 20);
    border-right-color: $page-header-color;
    border-style: solid;
    border-top-color: $page-header-color;
    border-width: 0.4em;
    box-shadow: -0.025em 0.075em 0.065em rgba(black, 0.065);
    content: "";
    display: block;
    transition: all 200ms ease-in-out;
  }

  &:hover {
    background-color: $base-font-color;

    &:before {
      @include position(absolute, 0 0 null null);
      border-bottom-color: tint($base-font-color, 20);
      border-left-color: tint($base-font-color, 20);
      transform-origin: top right;
      transform: scale(1.25);
      transition:
        border-color 300ms ease,
        transform 300ms ease;
    }
  }
}

.page-header-container {
  @include simple-column;
}

.page-navigation {
  float: right;
  padding: 0.125em 0.5em;
  position: absolute;
  top: 0.125rem;
  right: 0.125rem;

  @media #{$small} {
    top: 0.125rem;
    right: 0.125rem;
  }
}

.navigation-list-item-link {
  color: $base-background-color;
  font-size: $h4-font-size;
  text-decoration: none;
  width: 40px;
  display: block;

  &:hover {
    animation: wiggle .5s ease;
  }
}
