!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge,chrome=1", http: {equiv: "X-UA-Compatible"}}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{:content => "noindex, nofollow", :name => "robots"}
    %title= current_page.data.title || "Foundry ∞"
    = stylesheet_link_tag "app"
    = javascript_include_tag  "all"

  %body{class: page_classes}
    = yield
