.families-list-item {
  border-bottom: $base-border;
  position: relative;

  &::after {
    @include position(absolute, 0 0 0 null);
    background-image: linear-gradient(to right, rgba($base-background-color, 0), rgba($base-background-color, 1));
    content: "";
    display: block;
    width: 3em;
  }
}

.families-list-item-gallery {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
    visibility: hidden;
  }
}

.families-list-item-gallery-item {
  border-left: $base-border;
  margin-bottom: 0;
  min-width: 20em;
  padding: 5em 6em;
  position: relative;
  text-align: center;

  .centered-content-inner {
    @include position(absolute, 50% 0 null 0);
    transform: translateY(-50%);
  }

  img,
  .download-link {
    display: block;
    margin: 0 auto;
  }

  .family-description {
    padding: 0 2em;
    white-space: normal;
  }
}
