// Project Settings
// ============================================================

$prefix-for-webkit:    false;
$prefix-for-mozilla:   false;
$prefix-for-microsoft: false;
$prefix-for-opera:     false;

// ========= Typography & Metrics =========

$base-font-size: 1em;
$base-line-height: 1.5;
$header-line-height: 1.25;

// Font Families
$sans-serif: "Montserrat", sans-serif;
$sans-serif-alt: $helvetica, sans-serif;
$serif: "Merriweather", serif;
$base-font-family: $sans-serif;
$header-font-family: $serif;

// ========= Grid Variables =========

$default-float: left;
$text-direction: ltr;
$opposite-direction: right;

@if $text-direction == ltr {
  $default-float: left;
  $opposite-direction: right;
} @else {
  $default-float: right;
  $opposite-direction: left;
}

$row-width: em(1280);
$column-gutter: em(20);
$total-columns: 12;

// ========= Media Queries =========

// Media Queries

$small-screen: 768px !default;
$medium-screen: 1280px !default;
$large-screen: 1440px !default;

$screen: "only screen" !default;
$small: "only screen and (min-width: #{$small-screen})" !default;
$medium: "only screen and (min-width:#{$medium-screen})" !default;
$large: "only screen and (min-width:#{$large-screen})" !default;
$landscape: "only screen and (orientation: landscape)" !default;
$portrait: "only screen and (orientation: portrait)" !default;

// ========= Core Settings =========

// Font Sizes
$h0-font-size: $base-font-size * 2.5;
$h1-font-size: $base-font-size * 2.25;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.75;
$h4-font-size: $base-font-size * 1.5;
$h5-font-size: $base-font-size * 1.25;
$h6-font-size: $base-font-size;

$small-font-size: 0.8em;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$base-z-index: 0;

// Colors
$sea: #3fa9f5;
$foam: #86adbc;
$gold: #eab111;
$coal: #414042;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $coal;
$base-accent-color: $sea;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
