---
title: Foundry ∞
---

%header.page-header
  .page-header-container
    = partial "partials/navigation"
    %h1.header-logo
      Foundry ∞
    %h2.header-subtitle
      Providing a new generation of vector assets and infinite possibility for the interactive web and mobile applications.

    .header-description
      = partial "partials/description"
    %a.header-linktogallery.button{ href: "#gallery"}
      Gallery
%section.page-section
%main{role:"main"}
  %section.page-section-families
    %ol.families-list#gallery
      - families.each do |family|
        %li.families-list-item
          %ul.families-list-item-gallery
            %li.families-list-item-gallery-item.centered-content
              .centered-content-inner
                %h3
                  = family.title
                %h6
                  %a{ href: family.repo_url}
                    GitHub
                %p
                  = family.description
            - family.files.each do |filename|
              %li.families-list-item-gallery-item
                %img{ src: "assets/components" + family.path + filename}
                %a{ href: "assets/components" + family.path + filename, download: true}
                  Download
